# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [4]:
a = 4
b = 4
print(id(a))
print(id(b))
print(id(a) == id(b))

134056384463184
134056384463184
True

змінні однакові як за значенням, так і за розташуванням

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [7]:
a = 5.7
print(type(a) == float)
print(isinstance(a, int))
print(isinstance(a, float))

True
False
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [20]:
a = 8.0
b = 2.5
print(a + b)
print(a - b)
print(a / b)
print(a * b)
print(a // b)
print(a % b)
print(a ** b)

10.5
5.5
3.2
20.0
3.0
0.5
181.01933598375618

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [30]:
a = 8.8
print(a, " || type: ", type(a))
print(int(a), " || type: ", type(int(a)))
a = False
print(a, " || type: ", type(a))
print(int(a), " || type: ", type(int(a)))

8.8  || type:  <class 'float'>
8  || type:  <class 'int'>
False  || type:  <class 'bool'>
0  || type:  <class 'int'>

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [32]:
a = ''
b = str()
print(a == b)

True

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [37]:
a = '\''
print(a)
a = r'\''
print(a)

'
\'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [38]:
a = "Anikina"
b = f"My surname is {a}"
print(b)

My surname is Anikina

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [41]:
a = "My dog is crazy."
a = a[:-1]
b = a.split(" ")
print(b)

['My', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [45]:
a = ['My', 'dog', 'is', 'crazy']
b = list(['My', 'parrot', 'is', 'not', 'crazy'])
print(len(a))

5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [52]:
a = list(['My', 'parrot', 'is', 'not', 'crazy'])
b = list(['My', 'dog', 'is', 'crazy'])
a.append(b)
print(a)

['My', 'parrot', 'is', 'not', 'crazy', ['My', 'dog', 'is', 'crazy']]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [61]:
a = list([['s', 't', 'r', 'a', 'y'], ['k', 'i', 'd', 's']])
b = a[-1][0]
print(b)

k

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [64]:
a = list([['s', 't', 'r', 'a', 'y'], ['k', 'i', 'd', 's'], 8, 1.7, True, 'My', 'parrot', 'is', 'not', 'crazy'])
print(len(a))
b = a[2:-2]
print(b)

10
[8, 1.7, True, 'My', 'parrot', 'is']

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [81]:
a = tuple('d')
print(a)
print(type(a))
print(len(a))

('d',)
<class 'tuple'>
1

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

обидва список і кортеж можуть зберігати об'єкти разних типів;
список можна змінювати, кортеж - read only, тому кортеж швидший;
список використовує [] дужки, кортеж - ()

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [84]:
a = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3, 170.2)
b = a[::-2]
print(b)

(170.2, 9.3, 7.3, 5.3, 3.3, 1.2)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [86]:
a = set()
print(type(a))
print(len(a))

<class 'set'>
0

так, множини можна змінювати

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [89]:
my_list = [1, 1, 2, 67, 67, 8, 9]
a = set(my_list)
print(a)

{1, 2, 67, 8, 9}

set це набір неповторюваних об'єктів, тому при створенні множини повтори не враховувались

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [92]:
a = {1, 2, 3, 4, 5, 6, 7}
b = {5, 6, 7, 8, 9, 10, 11}
print(a.union(b))
print(a.difference(b))
print(a.intersection(b))
print(a.symmetric_difference(b))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{1, 2, 3, 4}
{5, 6, 7}
{1, 2, 3, 4, 8, 9, 10, 11}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [98]:
a = {}
print(type(a))
print(len(a))
print("-"*10)
a[8] = "kids"
a["fenix"] = "right"
a["7"] = 68
a[(5, 6, 7)] = "stray kids"
print(a)

<class 'dict'>
0
----------
{8: 'kids', 'fenix': 'right', '7': 68, (5, 6, 7): 'stray kids'}

список не може бути ключем, бо ключ повинен бути незмінним

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [101]:
a = {8: 'kids', 'fenix': 'right', '7': 68, (5, 6, 7): 'stray kids'}
b = {2: 3, 'yes': a}
c = {10:  'no', 'hoho' : b}
print(c)
print("-"*10)
print(c['hoho']['yes'][(5, 6, 7)])

{10: 'no', 'hoho': {2: 3, 'yes': {8: 'kids', 'fenix': 'right', '7': 68, (5, 6, 7): 'stray kids'}}}
----------
stray kids

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.: